# Python virtual environment
.venv/

# Environment variables
.env
backend/.env
backend/app/.env
frontend

# Node modules
node_modules/.env

# Logs
*.log
backend/mistral_email_usage.csv
backend/mistral_usage.csv

# Vite
dist/
.vite/

# Python cache
__pycache__/
*.pyc